html {
    box-sizing: border-box;
    
}


 body {
    font-family: 'Eczar', serif;
    font-size: 62.5%;
    background: #fff5d7
  }

  .go {
    background: #ff5e6c;
    padding: 5px 20px;
    display: inline-block;
    border: 3px solid black;
    margin-left: -8px;
    text-align: center;
  }
.navigation {
    margin: 0 0 50px 70px;
    
}
div{
    font-size: 1.8rem;
}


h1, h2{
    font-size: 4rem;
}

h2 {
    text-align: center;
}

.about p{
    text-align: center;
}

footer {
    text-align: center;
    height: 400px;
    margin: 200px 0 0 0;
    font-size: 1.8rem;
}


.social {
    margin-top: 3%;
    
}
.social a{
    padding: 20px;
}

.button2 {
    padding: 8px 20px;
    background-color: #243242;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px #d3d3d3
    
}

.see {
    margin-bottom:2%;
}
